<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar'); -%>

    <form method="post" class="mt-6">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
            <label class="label">Name</label>
            </div>
            <div class="field-body">
            <div class="field">
                <div class="control">
                <input class="input is-info" name="name"  type="text" value="<%= player.name %>">
                </div>
                <p class="help is-danger">
                This field is required
                </p>
            </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
            <label class="label">Club</label>
            </div>
            <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                <div class="select is-fullwidth">
                    <select name="club">
                      <%for (let club of clubList){ %>
                        <option value="<%= club.name %>" <%= JSON.stringify(club.name) === JSON.stringify(player.club) ? 'selected' : ''  %>><%= club.name %> </option> 
                        <% } %>
                    </select>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
            <label class="label">Position</label>
            </div>
            <div class="field-body">
            <div class="field">
                <div class="control">
                <input class="input is-info" name="position"  type="text" value="<%= player.position %>">
                </div>
                <p class="help is-danger">
                This field is required
                </p>
            </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
            <label class="label">Goals</label>
            </div>
            <div class="field-body">
            <div class="field">
                <div class="control">
                <input class="input is-info" name="goals"  type="number" value="<%= player.goals %>">
                </div>
                <p class="help is-danger">
                This field is required
                </p>
            </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
            <label class="label">Captain</label>
            </div>
            <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                <div class="select is-fullwidth">
                        <select name="isCaptain" >
                            <option value="true">True</option>
                            <option value="false">False</option>
                      </select>
                </div>
                </div>
            </div>
            </div>
        </div>
      
        <div class="field is-horizontal">
            <div class="field-label is-normal">
            <label class="label">Image</label>
            </div>
            <div class="field-body">
            <div class="field">
                <div class="control">
                <input class="input is-info" name="image" type="text"  value="<%= player.image %>">
                </div>
                <p class="help is-danger">
                This field is required
                </p>
            </div>
            </div>
        </div>
        <div class="field is-horizontal">
         <div class="field-body">
            <div class="field">
                <div class="control">
                <button class="button is-primary" type="submit" >
                    Save
                </button>
                </div>
            </div>
            </div>
        </div>
    </form>
    
</body>
</html>